<article class="archive-article archive-type-<%= post.layout %>">
  <div class="archive-article-inner">
    <header class="archive-article-header">
      	<div class="article-meta">
	      	<%- partial('post/date', {class_name: 'archive-article-date', date_format: null}) %>
        </div>
    	 <%- partial('post/title', {class_name: 'archive-article-title'}) %>
        <div class="article-info info-on-right">
          <%- partial('post/tag') %>
            <span id="busuanzi_container_page_pv">
              |阅读量(<span id="busuanzi_value_page_pv"></span>)
            </span>
          <%- partial('post/category') %>
        </div>
        <div class="clearfix"></div>
    </header>
  </div>
</article>